<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <dllmap dll="gtk-x11-2.0" target="libgtk-x11-2.0.so.0" />
    <dllmap dll="gtk-3" target="libgtk-3.so.0" />
    <dllmap dll="notify" target="libnotify.so.4" />
    <dllmap dll="gio-2.0" target="libgio-2.0.so.0" />
    <dllmap dll="glib-2.0" target="libglib-2.0.so.0" />
    <dllmap dll="gobject-2.0" target="libgobject-2.0.so.0" />
    <dllmap dll="pango-1.0" target="libpango-1.0.so.0" />
    <dllmap dll="libgdl-3" target="libgdl-3.so.5" />
    <dllmap dll="libgtksourceview-3.0" target="libgtksourceview-3.0.so.1" />
</configuration>
